{% extends '::base.html.twig' %}

{% block title %}Кинотеатр{% endblock %}

{% block stylesheets %}
	{{parent()}}
    <link rel="stylesheet" href="{{asset('bundles/cinemacinema/css/added.css')}}"/>
{% endblock %}

{% block content %}

<h2 class="in-develop">Извините, страница в процессе разработки.</h2>


{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}

