<ul class="v-cats clearfix">
<li id="all"><a href="">Все</a></li>
<li id="comedy"><a>Комедии</a></li>
<li id="drama"><a>Драмы</a></li>
<li id="fant"><a>Фэнтези</a></li>
<li id="advent"><a>Приключения</a></li>
<li id="war"><a>Боевики</a></li>
<li id="triller"><a>Триллеры</a></li>
</ul>