
<form method="post" enctype="multipart/form-data" action="{{url('addon_backup_dump_upload')}}">
    <label> Choose database dump file: </label>
    <input type="file" name="dump"/>
    <button>Go!</button>
</form>