
<form method="post" enctype="multipart/form-data" action="{{url('addon_backup_dump_create')}}">
    <label> Input database dump file name: </label>
    <input type="text" name="dump"/>
    <button>Go!</button>
</form>