<div class="shedule-dialog-confirm" id="dialog-confirm-del" title="Удалить все сеансы?">
  <p>    
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">Удаление сеансов</span>
        Удалить все сеансы
  </p>
    
</div>