<style>
p.noerror
{
    width: 300px;
    height: 20px;
    margin: 5px auto 0 auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #aaa;
    text-align: center;
    color: #aaa;
    border-radius: 5px;
}
</style>

<p class="noerror">Ошибок в расписании не найдено.</p>